* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d6d6d6;
}
.PC-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
}
.PC-container .header {
  padding: 0 40px 50px;
  overflow: hidden;
  background-image: url(https://p3.ssl.qhimg.com/t01e48061679774fa82.png);
  background-position: center top;
}
.PC-container .header .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.PC-container .header .logos {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.PC-container .header .logos .wot {
  display: block;
  height: 30px;
  margin-right: 30px;
}
.PC-container .header .logos .wows {
  display: block;
  height: 30px;
  margin-right: 30px;
}
.PC-container .header .logos .wcl {
  display: block;
  height: 50px;
}
.PC-container .header .slogan {
  display: block;
  height: 218px;
  margin: 100px auto 0;
}
.PC-container .header .know-more {
  display: block;
  width: 262px;
  margin: 0 auto;
  cursor: pointer;
}
.PC-container .header .mail-area {
  margin-top: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  background-image: url(https://p4.ssl.qhimg.com/t014811fb246d576658.png);
  background-size: 100% 100%;
  justify-content: center;
  padding: 15px 0;
}
.PC-container .header .mail-area .mail-address {
  background: linear-gradient(0deg, #C7C4C2, #E9E9E9);
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  line-height: 36px;
  width: 384px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  margin-right: 10px;
}
.PC-container .header .mail-area .mail-address span {
  font-weight: 400;
  font-size: 22px;
}
.PC-container .header .mail-area .file-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PC-container .header .mail-area .file-download .call-mail {
  display: block;
  width: 166px;
  cursor: pointer;
}
.PC-container .header .mail-area .file-download .download-btn {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 14px;
  color: #F8BC3C;
  line-height: 22px;
  text-underline-offset: 5px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.PC-container .header .recruit-good {
  display: block;
  margin: 0 auto;
  height: 133px;
  margin-bottom: 50px;
}
.PC-container .conditions {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(https://p4.ssl.qhimg.com/t01432e047bdf3aaccd.png);
}
.PC-container .conditions .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.PC-container .conditions .inner .condition {
  height: 374px;
  display: block;
  margin: 0 auto;
}
.PC-container .rules {
  position: relative;
  z-index: 0;
  margin-top: -50px;
  width: 100%;
  padding-bottom: 100px;
  background-position: center;
  background-image: url(https://p0.ssl.qhimg.com/t0121670c0bfa0ffa8e.png);
}
.PC-container .rules .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 80px;
}
.PC-container .rules .inner .top {
  display: flex;
  justify-content: space-between;
}
.PC-container .rules .inner .top .tit {
  display: block;
  margin-left: 50px;
  height: 42px;
}
.PC-container .rules .inner .top .rule-detail-btn {
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
}
.PC-container .rules .inner .details {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.PC-container .rules .inner .details .detail {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.PC-container .rules .inner .details .detail .name {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: #4e4e4e;
  font-weight: bold;
}
.PC-container .rules .inner .details .detail img {
  display: block;
  width: 100%;
  height: 275px;
}
.PC-container .rules .inner .details .detail .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 16px;
  color: #4E4E4E;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}
.PC-container .rules .inner .details .detail .content.underline {
  color: #B26C08;
  text-decoration: underline;
  cursor: pointer;
}
.PC-container .rules .inner .tip {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 16px;
  color: #4E4E4E;
  line-height: 24px;
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.PC-container .rules .inner .tip span {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #b26c08;
}
.PC-container .process-area {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(https://p5.ssl.qhimg.com/t01dfbc5a342b1ad38b.png);
}
.PC-container .process-area .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 90px;
  padding-bottom: 70px;
}
.PC-container .process-area .inner .tit {
  display: block;
  margin-left: 50px;
  height: 42px;
}
.PC-container .process-area .inner .process-list {
  margin-top: 40px;
}
.PC-container .process-area .inner .process-list .process {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1055px;
  height: 70px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 150px;
}
.PC-container .process-area .inner .process-list .process.cur {
  background-image: url(https://p4.ssl.qhimg.com/t01fe9d44eb8252968c.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.PC-container .process-area .inner .process-list .process.cur .time {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 20px;
  color: #F1F1F1;
}
.PC-container .process-area .inner .process-list .process.cur .name {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 28px;
  color: #F1F1F1;
}
.PC-container .process-area .inner .process-list .process.cur .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 20px;
  color: #F1F1F1;
}
.PC-container .process-area .inner .process-list .process .time {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 16px;
  color: #4E4E4E;
  text-align: center;
  width: 300px;
}
.PC-container .process-area .inner .process-list .process .name {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 16px;
  color: #4E4E4E;
  text-align: center;
  width: 300px;
}
.PC-container .process-area .inner .process-list .process .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 16px;
  color: #4E4E4E;
  text-align: center;
  width: 300px;
}
.M-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  background-image: url(https://p5.ssl.qhimg.com/t01a891f7755841319c.png);
}
.M-container .logos {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.1rem;
  left: 0.24rem;
}
.M-container .logos .wot {
  display: block;
  height: 0.17rem;
  margin-right: 0.1rem;
}
.M-container .logos .wows {
  display: block;
  height: 0.16rem;
  margin-right: 0.1rem;
}
.M-container .logos .wcl {
  display: block;
  height: 0.28rem;
}
.M-container .banner {
  display: block;
  width: 100vw;
}
.M-container .know-more {
  position: absolute;
  width: 1.47rem;
  left: 0.17rem;
  top: 2.3rem;
}
.M-container .mail-area {
  position: absolute;
  top: 2.71rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.08rem 0.18rem;
  display: flex;
  align-items: center;
  background-color: #000000;
}
.M-container .mail-area .mail-address {
  width: 2.25rem;
  height: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #C7C4C2, #E9E9E9);
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 0.13rem;
  color: #000000;
  line-height: 0.21rem;
  margin-right: 0.1rem;
}
.M-container .mail-area .mail-address span {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.13rem;
  color: #000000;
  line-height: 0.21rem;
}
.M-container .mail-area .file-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.M-container .mail-area .file-download .call-mail {
  display: block;
  height: 0.21rem;
}
.M-container .mail-area .file-download .download-btn {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.1rem;
  color: #F8BC3C;
  text-decoration: underline;
}
.M-container .tip-img {
  display: block;
  width: 100%;
}
.M-container .tip-img.ti1 {
  margin-top: -0.8rem;
}
.M-container .tip-img.ti2 {
  margin-top: -0.35rem;
}
.M-container .rule-area .top {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.M-container .rule-area .top .tit {
  display: block;
  width: 1.16rem;
  margin-left: 0.16rem;
}
.M-container .rule-area .top .rule-detail-btn {
  display: block;
  height: 0.23rem;
  margin-right: 0.16rem;
}
.M-container .rule-area .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.46rem;
  padding-bottom: 0.1rem;
}
.M-container .rule-area .details .detail {
  width: 1.29rem;
  margin-bottom: 0.28rem;
}
.M-container .rule-area .details .detail .name {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 0.13rem;
  color: #4E4E4E;
  line-height: 0.13rem;
  text-align: center;
  margin-bottom: 0.1rem;
}
.M-container .rule-area .details .detail img {
  display: block;
  width: 100%;
}
.M-container .rule-area .details .detail .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.12rem;
  color: #4E4E4E;
  line-height: 0.13rem;
  text-align: center;
  margin-top: 0.1rem;
}
.M-container .rule-area .details .detail .content.underline {
  color: #B26C08;
  text-decoration-line: underline;
}
.M-container .rule-area .tip {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 0.11rem;
  color: #4E4E4E;
  line-height: 0.16rem;
  padding: 0 0.46rem;
  text-align: center;
  margin-bottom: 0.2rem;
}
.M-container .rule-area .tip span {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 0.11rem;
  color: #4E4E4E;
  line-height: 0.16rem;
  color: #b26c08;
}
.M-container .process-area {
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  background-image: url(https://p5.ssl.qhimg.com/t017b5a1a9df9a8cb03.png);
}
.M-container .process-area .tit {
  display: block;
  width: 1.16rem;
  margin-left: 0.16rem;
  margin-top: 0.4rem;
}
.M-container .process-area .process-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.16rem;
  padding-bottom: 0.4rem;
}
.M-container .process-area .process-list .process {
  width: 3.47rem;
  height: 0.27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.24rem;
}
.M-container .process-area .process-list .process.cur {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://p4.ssl.qhimg.com/t01505d6f49066be809.png);
}
.M-container .process-area .process-list .process.cur .time {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.09rem;
  color: #F1F1F1;
}
.M-container .process-area .process-list .process.cur .name {
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 0.12rem;
  color: #F1F1F1;
}
.M-container .process-area .process-list .process.cur .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.09rem;
  color: #F1F1F1;
}
.M-container .process-area .process-list .process .time {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.09rem;
  color: #4E4E4E;
  width: 1rem;
  text-align: center;
}
.M-container .process-area .process-list .process .name {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.09rem;
  color: #4E4E4E;
  width: 1rem;
  text-align: center;
}
.M-container .process-area .process-list .process .content {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  font-size: 0.09rem;
  color: #4E4E4E;
  width: 1.2rem;
  text-align: center;
}
.full-page-mask {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.full-page-mask.M .rules {
  padding: 0.2rem;
  width: 70%;
}
.full-page-mask.M .rules .title {
  font-size: 0.14rem;
}
.full-page-mask.M .rules .close-btn {
  width: 0.15rem;
  right: 0.1rem;
  top: 0.1rem;
}
.full-page-mask.M .rules .content .cq {
  font-weight: bold;
  font-size: 0.1rem;
}
.full-page-mask.M .rules .content .ca {
  font-size: 0.1rem;
}
.full-page-mask.M .rules .confirm-btn {
  width: 1rem;
}
.full-page-mask .rules {
  background-color: #fff;
  border: 0.04rem solid #b3a196;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.full-page-mask .rules .title {
  font-size: 24px;
  color: #62463c;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #b3a196;
}
.full-page-mask .rules .close-btn {
  position: absolute;
  display: block;
  width: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.full-page-mask .rules .content .cq {
  margin-top: 20px;
  color: #4e4e4e;
  font-size: 16px;
  font-weight: bold;
}
.full-page-mask .rules .content .ca {
  color: #4e4e4e;
  font-size: 16px;
}
.full-page-mask .rules .confirm-btn {
  display: block;
  cursor: pointer;
  margin: 40px auto 20px;
  width: 140px;
}
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: white;
}
