body {
  background-color: #000;
}
.container .main-bg {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
}
.container .top-bar {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0.2em;
  height: 0.8em;
}
.container .top-bar .logo {
  width: 10vw;
  height: auto;
  margin-left: 0.8em;
  display: block;
  margin-right: auto;
  cursor: pointer;
}
.container .top-bar .home {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10em;
  margin-right: 2em;
  display: block;
  cursor: pointer;
  font-size: 0.16em;
  color: white;
  border: 0.02rem solid rgba(255, 255, 255, 0.4);
  line-height: 2.8em;
  font-weight: bold;
  border-radius: 0.3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .top-bar .home img {
  display: block;
  height: 1.4em;
  margin-right: 0.1rem;
}
.container .top-bar .cloud {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10em;
  margin-right: 2em;
  display: block;
  cursor: pointer;
  font-size: 0.16em;
  color: white;
  border: 0.02rem solid rgba(255, 255, 255, 0.4);
  line-height: 2.8em;
  font-weight: bold;
  border-radius: 0.3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .top-bar .cloud img {
  display: block;
  height: 1.4em;
  margin-right: 0.1rem;
}
.container .top-bar .download {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10em;
  margin-right: 2em;
  display: block;
  cursor: pointer;
  font-size: 0.16em;
  color: white;
  border: 0.02rem solid rgba(255, 255, 255, 0.4);
  line-height: 2.8em;
  font-weight: bold;
  border-radius: 0.3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .top-bar .download img {
  display: block;
  height: 1.4em;
  margin-right: 0.1rem;
}
.container .top-bar .login {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10em;
  margin-right: 2em;
  display: block;
  cursor: pointer;
  font-size: 0.16em;
  color: white;
  border: 0.02rem solid rgba(255, 255, 255, 0.4);
  line-height: 2.8em;
  font-weight: bold;
  border-radius: 0.3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .top-bar .login img {
  display: block;
  height: 1.4em;
  margin-right: 0.1rem;
}
.container .video-area {
  position: absolute;
  left: 1.4em;
  top: 1.52em;
}
.container .video-area .slogan {
  display: block;
  position: relative;
  height: 7.8em;
}
.container .video-area .video-btn {
  position: absolute;
  top: 3.52em;
  left: -0.16em;
  display: block;
  height: 0.8em;
  cursor: pointer;
}
.container .video-area .video-btn:hover {
  transform: scale(1.1, 1.1);
}
.container .full-block-stack {
  width: 100vw;
}
.container .full-block-stack .block-stack {
  position: absolute;
  top: 1.2em;
  right: 0;
  width: 15.6em;
  height: 9em;
  overflow: visible;
}
.container .full-block-stack .block-stack .block-inner-contain {
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.bilan {
  transition: opacity 0.3s;
  transition-delay: 0;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.sanguo {
  transition: opacity 0.5s;
  transition-delay: 0.05s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.star {
  transition: opacity 0.5s;
  transition-delay: 0.1s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.jihe {
  transition: opacity 0.5s;
  transition-delay: 0.15s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.kh {
  transition: opacity 0.5s;
  transition-delay: 0.2s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.qs {
  transition: opacity 0.5s;
  transition-delay: 0.25s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.hide.wowo {
  transition: opacity 0.5s;
  transition-delay: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.container .full-block-stack .block-stack .block-inner-contain.cur .icons {
  display: none;
}
.container .full-block-stack .block-stack .block-inner-contain.cur .hide-show-btn {
  display: block;
}
.container .full-block-stack .block-stack .block-inner-contain.cur .ground {
  opacity: 0;
}
.container .full-block-stack .block-stack .block-inner-contain.cur .ground-cur {
  opacity: 1!important;
}
.container .full-block-stack .block-stack .block-inner-contain .icons {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .full-block-stack .block-stack .block-inner-contain .hide-show-btn {
  display: none;
}
.container .full-block-stack .block-stack .block-inner-contain .hide-show-btn:hover {
  transform: scale(1.05);
}
.container .full-block-stack .block-stack .block-inner-contain .hide-show-btn:hover .btn-outline {
  animation: btnBoot 0.8s infinite ease-in-out;
}
@keyframes btnBoot {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.container .full-block-stack .block-stack .block-inner-contain:hover .ground {
  opacity: 0;
}
.container .full-block-stack .block-stack .block-inner-contain:hover .ground-cur {
  opacity: 1!important;
}
.container .full-block-stack .block-stack .block-inner-contain:hover .title-show .icons .ic {
  transition: transform 0.3s !important;
  overflow: visible;
  transform: translateY(-0.05em) scale(1.1);
}
.container .full-block-stack .block-stack .block-inner-contain:hover .title-show .name {
  transform: translateY(0.03em) scale(1.2);
}
.container .full-block-stack .block-stack .block-inner-contain .title-show {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan {
  position: absolute;
  z-index: 6;
  width: 5em;
  height: 5em;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .ground {
  position: absolute;
  top: 0.14em;
  left: 0.1em;
  display: block;
  height: 5.12em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .ground-cur {
  position: absolute;
  top: 0.14em;
  left: 0.02em;
  display: block;
  height: 5.3em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show .icons .ic {
  position: absolute;
  top: -1.2em;
  left: -1em;
  display: block;
  height: 4.6em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 2em;
  left: 1.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.bilan .title-show .name {
  position: absolute;
  display: block;
  height: 0.4em;
  left: 0.6em;
  top: 3.4em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo {
  position: absolute;
  z-index: 5;
  left: 4em;
  width: 7.4em;
  height: 5em;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .ground {
  position: absolute;
  top: 0.212em;
  left: -0.7em;
  display: block;
  height: 4.66em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .ground-cur {
  position: absolute;
  top: 0.19em;
  left: -0.84em;
  display: block;
  height: 4.9em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show .icons .ic {
  position: absolute;
  top: 1em;
  left: 2.2em;
  display: block;
  height: 2.08em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 2em;
  left: 3em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.sanguo .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 2.2em;
  top: 3.4em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.star {
  position: absolute;
  z-index: 5;
  right: 0;
  width: 4.6em;
  height: 4.6em;
}
.container .full-block-stack .block-stack .block-inner-contain.star .ground {
  position: absolute;
  top: 0.48em;
  right: 0;
  display: block;
  height: 4.36em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.star .ground-cur {
  position: absolute;
  top: 0.48em;
  right: 0;
  display: block;
  height: 4.6em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show .icons .ic {
  position: absolute;
  top: 0.6em;
  left: 1em;
  display: block;
  height: 2.08em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 1.2em;
  left: 1.6em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.star .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 0.8em;
  top: 2.6em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 4.4em;
  height: 4.6em;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .ground {
  position: absolute;
  bottom: 0.34em;
  left: 0em;
  display: block;
  height: 4.38em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .ground-cur {
  position: absolute;
  bottom: 0.34em;
  left: 0em;
  display: block;
  height: 4.54em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show .icons .ic {
  position: absolute;
  top: 0.4em;
  left: -0.2em;
  display: block;
  height: 2.6em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 1.4em;
  left: 1.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.jihe .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 1.36em;
  top: 3em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.kh {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 4em;
  width: 4em;
  height: 4.6em;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .ground {
  position: absolute;
  bottom: 0.2em;
  left: -0.12em;
  display: block;
  height: 4.38em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .ground-cur {
  position: absolute;
  bottom: 0.21em;
  left: -0.18em;
  display: block;
  height: 4.56em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show .icons .ic {
  position: absolute;
  top: 1em;
  left: 0.6em;
  display: block;
  height: 1.8em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 1.4em;
  left: 1.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.kh .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 1.36em;
  top: 3em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.qs {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 8em;
  width: 4em;
  height: 5em;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .ground {
  position: absolute;
  bottom: 0.12em;
  left: -0.4em;
  display: block;
  height: 5em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .ground-cur {
  position: absolute;
  bottom: 0.12em;
  left: -0.46em;
  display: block;
  height: 5.16em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show .icons .ic {
  position: absolute;
  top: 1.4em;
  left: 0.9em;
  display: block;
  height: 1.8em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 1.4em;
  left: 1.2em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.qs .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 1em;
  top: 3em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  width: 4em;
  height: 5.56em;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .ground {
  position: absolute;
  bottom: 0em;
  left: -0.6em;
  display: block;
  height: 5.56em;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .ground-cur {
  position: absolute;
  bottom: 0;
  left: -0.74em;
  display: block;
  height: 5.7em;
  opacity: 0;
  transition: opacity 0.5s;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show {
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show .icons .ic {
  position: absolute;
  top: 1.4em;
  left: 0.9em;
  display: block;
  height: 2.4em;
  transition: transform 0.1s;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show .hide-show-btn {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 2em;
  left: 1.2em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show .hide-show-btn .btn-self {
  position: absolute;
  width: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show .hide-show-btn .btn-outline {
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-inner-contain.wowo .title-show .name {
  position: absolute;
  display: block;
  height: 0.36em;
  left: 0.6em;
  top: 3.6em;
  transition: transform 0.3s;
}
.container .full-block-stack .block-stack .block-open-contain.cur .open-img1,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img2,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img3,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img4,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img5,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img6,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img7,
.container .full-block-stack .block-stack .block-open-contain.cur .open-img8 {
  transition: opacity 1s;
  transition-delay: 0.5s;
  opacity: 1;
}
.container .full-block-stack .block-stack .block-open-contain.cur .view-more-btn,
.container .full-block-stack .block-stack .block-open-contain.cur .view-more-btn2,
.container .full-block-stack .block-stack .block-open-contain.cur .view-more-btn3,
.container .full-block-stack .block-stack .block-open-contain.cur .view-more-btn4,
.container .full-block-stack .block-stack .block-open-contain.cur .view-more-btn5 {
  transition: opacity 1s;
  transition-delay: 1s;
  opacity: 1;
}
.container .full-block-stack .block-stack .block-open-contain .open-img1,
.container .full-block-stack .block-stack .block-open-contain .open-img2,
.container .full-block-stack .block-stack .block-open-contain .open-img3,
.container .full-block-stack .block-stack .block-open-contain .open-img4,
.container .full-block-stack .block-stack .block-open-contain .open-img5,
.container .full-block-stack .block-stack .block-open-contain .open-img6,
.container .full-block-stack .block-stack .block-open-contain .open-img7,
.container .full-block-stack .block-stack .block-open-contain .open-img8 {
  opacity: 0;
}
.container .full-block-stack .block-stack .block-open-contain .view-more-btn,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn2,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn3,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn4,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn5 {
  opacity: 0;
}
.container .full-block-stack .block-stack .block-open-contain .view-more-btn:hover,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn2:hover,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn3:hover,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn4:hover,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn5:hover {
  transform: scale(1.1, 1.1);
}
.container .full-block-stack .block-stack .block-open-contain .view-more-btn .btn-outline,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn2 .btn-outline,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn3 .btn-outline,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn4 .btn-outline,
.container .full-block-stack .block-stack .block-open-contain .view-more-btn5 .btn-outline {
  animation: VMBtnWave 1s infinite ease-in-out;
}
@keyframes VMBtnWave {
  0% {
    transform: translate(-50%, -50%) scale(0.9, 0.9);
  }
  90% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0;
  }
}
.container .full-block-stack .block-stack .block-open-contain.bilan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.bilan .open-img1 {
  position: absolute;
  height: 2.2em;
  top: 1.2em;
  right: 0.92em;
}
.container .full-block-stack .block-stack .block-open-contain.bilan .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 3.6em;
  right: 4.2em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.bilan .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.bilan .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.bilan .open-img2 {
  position: absolute;
  height: 4.36em;
  right: 1.8em;
  bottom: 0.2em;
}
.container .full-block-stack .block-stack .block-open-contain.bilan .open-img3 {
  position: absolute;
  height: 0.2em;
  bottom: 1em;
  left: 2em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-img1 {
  position: absolute;
  height: 1.8em;
  top: 1.8em;
  left: -0.2em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 3.72em;
  left: 1em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-img2 {
  position: absolute;
  height: 4em;
  left: 0.8em;
  bottom: 0.4em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-img3 {
  position: absolute;
  height: 4em;
  bottom: 0.6em;
  right: 1.6em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-img4 {
  position: absolute;
  height: 1.9em;
  top: 1.6em;
  right: 0.2em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn2 {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 3.72em;
  right: 1.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn2 .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .view-more-btn2 .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-btn1 {
  position: absolute;
  left: 7.8em;
  bottom: 3.6em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-btn1 .btn-icon {
  cursor: pointer;
  position: absolute;
  height: 1.04em;
  left: 0.2em;
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-btn1 .btn-icon:hover {
  transform: scale(1.1);
}
.container .full-block-stack .block-stack .block-open-contain.sanguo .open-btn1 .btn-name {
  position: absolute;
  height: 0.24em;
  top: 1.1em;
}
.container .full-block-stack .block-stack .block-open-contain.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.star .open-img1 {
  position: absolute;
  height: 3.12em;
  top: 1.8em;
  left: 1em;
}
.container .full-block-stack .block-stack .block-open-contain.star .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 5.4em;
  left: 3em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.star .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.star .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.star .open-img2 {
  position: absolute;
  height: 4.2em;
  right: 1.6em;
  bottom: 0.8em;
}
.container .full-block-stack .block-stack .block-open-contain.star .open-img3 {
  position: absolute;
  height: 0.2em;
  bottom: 0.7em;
  left: 1.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img1 {
  position: absolute;
  height: 1.6em;
  top: 1.04em;
  left: 1.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 2.8em;
  left: 2.6em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img2 {
  position: absolute;
  height: 1.76em;
  left: 1.68em;
  top: 3.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .scale-img1 {
  position: absolute;
  display: block;
  width: 0.2em;
  left: 5.2em;
  top: 5em;
  z-index: 2;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img3 {
  position: absolute;
  height: 1.6em;
  top: 1.04em;
  left: 5.9em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn2 {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 2.8em;
  left: 7em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn2 .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn2 .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img4 {
  position: absolute;
  height: 1.76em;
  left: 6.2em;
  top: 3.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .scale-img2 {
  position: absolute;
  display: block;
  width: 0.2em;
  left: 9.7em;
  top: 5em;
  z-index: 2;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img5 {
  position: absolute;
  height: 1.6em;
  top: 1.04em;
  left: 10.4em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn3 {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 2.8em;
  left: 11.6em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn3 .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn3 .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img6 {
  position: absolute;
  height: 1.76em;
  left: 10.7em;
  top: 3.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .scale-img3 {
  position: absolute;
  display: block;
  width: 0.2em;
  left: 14.2em;
  top: 5em;
  z-index: 2;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img7 {
  position: absolute;
  height: 1.24em;
  bottom: 2.2em;
  left: 5.6em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn4 {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  bottom: 1.2em;
  left: 7em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn4 .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn4 .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .open-img8 {
  position: absolute;
  height: 1.24em;
  bottom: 2.2em;
  left: 10.2em;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn5 {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  bottom: 1.2em;
  left: 11.6em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn5 .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.jihe .view-more-btn5 .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.kh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.kh .open-img1 {
  position: absolute;
  height: 1.6em;
  top: 1.4em;
  left: 4.4em;
}
.container .full-block-stack .block-stack .block-open-contain.kh .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 3.2em;
  left: 6.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.kh .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.kh .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.kh .open-img2 {
  position: absolute;
  height: 3.7em;
  left: 0.56em;
  top: 4.4em;
}
.container .full-block-stack .block-stack .block-open-contain.kh .open-img3 {
  position: absolute;
  height: 4.6em;
  bottom: 1.04em;
  right: 0.8em;
}
.container .full-block-stack .block-stack .block-open-contain.qs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.qs .open-img1 {
  position: absolute;
  height: 1.6em;
  top: 1.4em;
  left: 1.4em;
}
.container .full-block-stack .block-stack .block-open-contain.qs .open-img2 {
  position: absolute;
  height: 4.4em;
  left: 1.16em;
  top: 3.6em;
}
.container .full-block-stack .block-stack .block-open-contain.qs .open-img3 {
  position: absolute;
  height: 1.6em;
  bottom: 2.4em;
  right: 2.8em;
}
.container .full-block-stack .block-stack .block-open-contain.qs .open-img4 {
  position: absolute;
  height: 2.6em;
  bottom: 4.4em;
  right: 1.6em;
}
.container .full-block-stack .block-stack .block-open-contain.wowo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .full-block-stack .block-stack .block-open-contain.wowo .open-img1 {
  position: absolute;
  height: 2.4em;
  top: 1.4em;
  left: 4.4em;
}
.container .full-block-stack .block-stack .block-open-contain.wowo .view-more-btn {
  position: absolute;
  width: 2.18em;
  height: 0.8em;
  top: 4em;
  left: 6.4em;
  cursor: pointer;
}
.container .full-block-stack .block-stack .block-open-contain.wowo .view-more-btn .btn-self {
  position: absolute;
  width: 2.18em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .full-block-stack .block-stack .block-open-contain.wowo .view-more-btn .btn-outline {
  width: 2.32em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.container .full-block-stack .block-stack .block-open-contain.wowo .open-img2 {
  position: absolute;
  height: 6.4em;
  left: 0.2em;
  bottom: 0.2em;
}
.container .video-dialog {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.container .video-dialog .inner {
  position: absolute;
  height: 6em;
  width: 10.52em;
  top: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(https://p2.ssl.qhimg.com/t11b673bcd69fe5945b16ac4f04.png);
  background-size: 100% 100%;
}
.container .video-dialog .inner .video-play {
  position: absolute;
  z-index: 1;
  height: 0.92em;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 2.4em;
  cursor: pointer;
}
.container .video-dialog .inner video {
  position: absolute;
  display: block;
  left: 0.5%;
  top: 0.5%;
  height: 99%;
  width: 99%;
}
.container .video-dialog .inner .close-video-dialog-btn {
  position: absolute;
  height: 0.4em;
  width: 0.4em;
  right: 0;
  top: -0.52em;
  cursor: pointer;
}
.container .img-dialog {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.container .img-dialog .inner {
  position: absolute;
  height: 6em;
  width: 10.52em;
  top: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(https://p2.ssl.qhimg.com/t11b673bcd69fe5945b16ac4f04.png);
  background-size: 100% 100%;
}
.container .img-dialog .inner .img-big {
  position: absolute;
  display: block;
  left: 0.5%;
  top: 0.5%;
  height: 99%;
  width: 99%;
}
.container .img-dialog .inner .close-img-dialog-btn {
  position: absolute;
  height: 0.4em;
  width: 0.4em;
  right: 0;
  top: -0.52em;
  cursor: pointer;
}
.container .footer {
  background-color: #000;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
}
